.datepicker_css {
    width: 20%;
}

.navBar {
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 20%;
    background-color: #e5efff;
    padding-left: 2%;
    font-size: 1.3em;
    font-family: Helvetica, Arial;
}

/* =========== DATE SELECTION ========= */

.navBar .dateSelection {
    padding-left: 2%;
}

.navBar .dateSelection > span {
    font-size: 0.7em;
}

.navBar .dateSelection > datepicker > input {
    padding: 2%;
    font-size: 1.3em;
    border: none;
}


/* =========== GROUP SELECTION ========== */

.navSelected {
    background-color: white;
}

.navBar .navList .navElement {
    font-size: 1em;
    padding: 2%;
}

.navBar .navList > h3{
    padding-top: 2%;
}

/* =========== DATA DISPLAY ========== */

.content {
    margin-left: 30%;
    font-family: Helvetica, Arial;
}

