/* ========= OAUTH SECTION ============ */
.smallBackground {
    position: absolute;
    background-color: #95b9f3;
    width: 40%;
    font-family: Helvetica, Arial;
    text-align: center;
    padding: 5em;
    margin: auto;
    top: 30%;
    left: 25%;
    border-top: 8px white dotted;
}

.smallBackground .clickable {
    color: white;
    font-size: 3em;
    text-decoration: none;
    text-transform: lowercase;
}

.smallInfo {
    font-family: Helvetica, Arial;
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
}

.smallInfo > p {
    text-align: center;
}


/* ========= NAV BAR ============= */

.datepicker_css {
    width: 20%;
}

.navBar {
    position: fixed;
    overflow: scroll;
    height: 100%;
    width: 20%;
    background-color: #e5efff;
    padding-left: 2%;
    font-size: 1.3em;
    font-family: Helvetica, Arial;
}

/* =========== DATE SELECTION ========= */

.navBar .dateSelection {
    padding-left: 2%;
}

.navBar .dateSelection > span {
    font-size: 0.7em;
}

.navBar .dateSelection > datepicker > input {
    padding: 2%;
    font-size: 1.3em;
    border: none;
}

/* =========== GROUP SELECTION ========== */

.navSelected {
    background-color: white;
}

.navBar .navList .navElement {
    font-size: 1em;
    padding: 2%;
}

.navBar .navList > h3{
    padding-top: 2%;
}

/* =========== DATA DISPLAY ========== */

.content {
    margin-left: 30%;
    font-family: Helvetica, Arial;
}

